@model List<Product>


	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				Product List
			</h2>
		</div>
		<div class="col-6 text-end ">
			<a class="btn btn-primary" asp-action="updateCreate" asp-controller="Product">
				<i class="bi bi-plus-circle"></i>
				Create New Product

			</a>

		</div>
	</div>

<table id="TData" class="table table-bordered table-striped  " style="width:100%">
		<thead>
			<tr>
				<th> Title </th>
				<th>Author </th>
			@*	<th>Description </th>*@
				<th>ISBN </th>
				@*<th> Image </th>*@
				<th>Price </th>
				@*<th>Price50 </th>
				<th>Price100 </th>*@
				<th>Category Name </th>



				<th></th>

			</tr>
		</thead>
		
	</table>
	@section Scripts{
		<script src="~/js/Product.js"></script>
	}
