@page
@model Bulky_WebRazor_Temp.Pages.Categores.CreateModel

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Create Category
			</h2>
		</div>
	</div>
	@*<div asp-validation-summary="All"></div>*@
	<div class="mb-3 row p-1">
		<label class="p-0" asp-for="Category.Name"></label>
		<input type="text" class="form-control" asp-for="Category.Name" />
		<span asp-validation-for="Category.Name" class="text-danger"></span>

	</div>
	<div class="mb-3 row p-1" >
		<label class="p-0" asp-for="Category.DesplayOrder"></label>
		<input type="text" class="form-control" asp-for="Category.DesplayOrder" />
		<span asp-validation-for="Category.DesplayOrder" class="text-danger"></span>
	</div>

	<div class="row">
		<div class="col-6 col-md-3">
			<button class="btn btn-primary form-control" type="submit" >Create</button>
		</div>
		<div class="col-6 col-md-3">
			<a class="btn btn-outline-secondary" asp-page="/Categores/Index"> Back To List</a>
		</div>

	</div>
</form>
@section scripts{
		<partial name="_ValidationScriptsPartial">
}
