@page
@model Bulky_WebRazor_Temp.Pages.Categores.IndexModel


<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
              Category List 
			</h2>
		</div>
		<div class="col-6 text-end ">
			<a class="btn btn-primary"  asp-page="/Categores/Create">
				<i class="bi bi-plus-circle"></i>
				Create New Category 

			</a>

			</div>
	</div>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Category Name</th>
		<th>Display Order </th>
		<th></th>

	</tr>
	</thead>
	<tbody>

	
		@foreach (var item in Model.Listcategories.OrderByDescending(n=>n.DesplayOrder))
		{
			<tr>
			<td>@item.Name</td>
			<td>@item.DesplayOrder</td>
			<td>
				<div class="w-75 btn-group" role="group">

							<a asp-page="/Categores/Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">
								
								<i class="bi bi-pencil-square"></i>
								Edie </a>
							<a asp-route-id="@item.CategoryId" asp-page="/Categores/Delete" class="btn btn-danger"> <i class="bi bi-trash"></i> Delete </a>
				</div>


			</td>
			</tr>
			

		}
		
	</tbody>
</table>
</div>